<html>
	<head>
		<title>Edit</title>
		<style>
			.text-danger{
				color:red;
			}
			h3{
			color: red;
			}
			body{
			text-align: center;
			padding: 30px;
			font-size: 35px;
			}
			form{
			font-size: 30px;
			color: black;
			}
			
			
		</style>
	</head>
	<body>
		<h3>Edit Car Details</h3>
		<div>
			 <form method="post" enctype="multipart/form-data" th:object="${productDto}">
			 
        <input type="text" th:field="${productDto.name}" placeholder="Car name" th:value="${productDto.name}">
        <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="${productDto.name}"></p>

        <br>

             <input placeholder="Brand name" th:field="${productDto.brand}" th:value="${productDto.brand}">
        <p th:if="${#fields.hasErrors('brand')}" th:errorclass="text-danger" th:errors="${productDto.brand}"></p>
        <br>

        <input placeholder="Price" th:field="${productDto.price}" th:value="${productDto.price}">
        <p th:if="${#fields.hasErrors('price')}" th:errorclass="text-danger" th:errors="${productDto.price}"></p>
        <br>

            <!-- Other input fields -->
            <input type="file" name="imageFile" accept="image/*">
     
<br>
             <textarea rows="" cols="" placeholder="Description" th:field="${productDto.description}" th:value="${productDto.description}"></textarea>
        <p th:if="${#fields.hasErrors('description')}" th:errorclass="text-danger" th:errors="${productDto.description}"></p>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" href="/products">Cancel</a>
    </form>
		</div>
	</body>
</html>












